contenedor {
  background-color: lightgrey;
}

#cabecera {
  background-color: #985f99;
  height: 100px;
}

#logo {
  background-color: #0008ff;
}

#botonera {
  background-color: #000480;
}

#principal {
  background-color: #9684a1;
  height: 100vh;
}

#titulo_banner {
  background-color: #000599;
}

#carrousel {
  background-color: #0006b3;
}

#menu {
  background-color: mintcream;
  height: 100vh;
}

#titulo_menu {
  background-color: #0008ff;
}

#men_1 {
  background-color: #000480;
}
#men_2 {
  background-color: #000599;
}
#men_3 {
  background-color: #0006b3;
}
#men_4 {
  background-color: #0006cc;
}

#contacto {
  background-color: cyan;
  height: 100vh;
}

#card_cont {
  background-color: #0008ff;
  height: 350px;
}

#pie {
  background-color: #985f99;
  height: 100px;
}

#pie_1 {
  background-color: #0008ff;
}

#pie_2 {
  background-color: #000480;
}
